<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>当天考勤最早时间</title>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/axios.min.js"></script>
</head>
<style>
    .k{
        font-size: 50px;
        clear: both;
    }
    .img{
        width: 150px;
        height: 200px;
        margin:15px ;
    }
    .input{
        height: 37px;
        width: 450px;
        font-size: 21px;
        color: gray;
    }
    .imgs_son{
        /*width: 300px;*/
        margin: 5px;
        float: left;
    }
    .julei{

    }
    #root_title{
        text-align: center;
    }
    /*.span1 span{*/
    /*    position: absolute;*/
    /*    left: 10px;*/
    /*    top: 10px;*/
    /*}*/
    /*img{*/
    /*    left: 30px;*/
    /*    top: 30px;*/

    /*}*/
    /*.k{*/
    /*    position: relative;*/
    /*    left: 5px;*/

    /*}*/
</style>
<body>
<div id="root">
    <h2 id="root_title">AI识别结果</h2>
    <br>
    <input type="number" v-model="num_clusters" placeholder="输入聚类人物个数">
    <input type="text" v-model="julei_date" placeholder="数据日期">
    <button class="julei" @click="juLei">点击进行聚类</button>
    <br>
<!--     <input type="text" v-model="res_mark" placeholder="输入人名">-->
    <select name="" v-model="res_mark">
        <option value="">请选择人名</option>
        <option  v-for="i in staffs" :value="i" >{{i}}</option>
    </select>
    <button @click="update_batch_mark">点击进行标注</button>
    <br>

            {% for (v,k,j) in data_raw %}
<!--            <div>-->
                <span class="imgs_son">
                    <input type="checkbox" id="img_checkbox" v-model="img_checkbox" value="[[v]]_[[k]]" >
                    <img  src="data:;base64,[[j]]" alt="暂无图片" class="img" @click="update_result_mark('[[v]]','[[k]]')">

                    
                    <br>
                    <span>[[v,k]]</span>
                    <br>

                </span>
<!--            </div>-->
            {% endfor %}

<!--    <div>{{images}}</div>-->
</div>
<!--<img src="../static/img/1.jpeg" alt="">-->

</body>
<script>
    Vue.config.productionTip=false

    const vm = new Vue({
        el:'#root',
        data:{
            staffs:[],
            images:[],
            toDir:'',
            num_clusters:null,
            res_date:'',
            res_mark:'',
            img_checkbox:[],
            julei_date:'',
        },
        methods:{
            // 点击图片提交修改res_mark需求
            // update_result_mark(v,k,e){
            //     console.log(v,k)
            //
            //     // para=path.split('/')
            //     // para1=para[para.length-1]
            //     // para2=para[para.length-2]
            //     //
            //     axios
            //       .get('http://10.20.14.27:80/update_result_mark',{params:{name:v,datetime_:k,res_mark:this.res_mark,id:1}})
            //       .then(response => (console.log(response.data)))
            //       .catch(function (error) { // 请求失败处理
            //         console.log(error);
            //       });
            //     // // location.reload();
            //     // // this.toDir=''
            // },
            update_batch_mark(){
                console.log(this.img_checkbox,'获取到img_checkbox')
                console.log(this.res_mark,'获取到res_mark')
                axios({
                    url: 'http://10.20.14.27:80/update_batch_mark',
                    method: 'post',
                    responseType: 'json', // 默认的
                    data: {
                        img_checkbox:this.img_checkbox,
                        res_mark:this.res_mark
                    }
                 }).then(function (response) {
                     alert('第五种，post展开')
                    console.log(response);
                    console.log(response.data);
                 }).catch(function (error) {
                    console.log(error);
                 });
                location.reload()
            },
            juLei(e){
                if (!this.num_clusters){
                    alert('请输入聚人物数量')
                }else if (this.num_clusters>this.staffs.length+5){
                    alert('请确认聚类人物数量是否正确')
                    console.log(this.staffs.length)
                }else if (!this.julei_date){
                    alert('请输入聚类日期')
                }else if(this.julei_date.length!==5){
                    alert('日期格式不对，正确格式样例：04-07')
                }else{
                    axios
                      .post('http://10.20.14.42:52400/kmeans_clustering',
                          {
                              num_clusters:this.num_clusters,
                              date_data:this.julei_date

                          })
                      .then(response => (console.log(response.data)))
                      .catch(function (error) { // 请求失败处理
                        console.log(error);
                      });
                }



                // location.reload();
                // this.toDir=''
            },
            chaxun(e){

                axios
                  .get('http://10.31.137.182:80/test_sql_img/'+this.res_date)
                  .then(response => (console.log(response.data)))
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                  });
                // location.reload();
                // this.toDir=''
            },
        },
        mounted () {
            axios
              .get('http://10.20.14.27:80/select_all_status_name')
              .then(response => (this.staffs=response.data.list_status))
              .catch(function (error) { // 请求失败处理
               console.log(error);
              });
            // axios
            //   .get('http://10.20.14.27:80/getStaffs1')
            //   .then(response => (this.images=response.data))
            //   .catch(function (error) { // 请求失败处理
            //     console.log(error);
            //   });
        },
        filters:{
            mySlice(value){
                console.log(value)
                value1 = value.split('/')[4]
                console.log(value1)
                value2 = value1.split('_')
                return value2[0]+'_'+value2[1].slice(0,2)+':'+value2[1].slice(2,4)+value2[2].split('.')[0]
            }
        }
    })
</script>
</html>