<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showImages</title>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/axios.min.js"></script>
</head>
<body>
    <div id="root">
        <div v-for="v in imagesName">
            <img :src="v" >
        </div>
    </div>

</body>
<script>
    Vue.config.productionTip=false

    const vm = new Vue({
        el:'#root',
        data:{
            imagesName:[]
        },
        methods:{
            btn:function(){
               axios
              .get('http://127.0.0.1:80/getImages')
              .then(response => (this.imagesName = response.data.info))
              .catch(function (error) { // 请求失败处理
                console.log(error);
              });
            }
        }
    })
</script>
</html>